.git
.idea
.junie
node_modules
vendor
.env
.phpunit.result.cache
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
!storage/framework/.gitignore
!storage/logs/.gitignore
